# Proyecto Venta de Casas en King County, USA

id - Unique ID for each home sold

date - Date of the home sale

price - Price of each home sold

bedrooms - Number of bedrooms

bathrooms - Number of bathrooms, where .5 accounts for a room with a toilet but no shower

sqft_living - Square footage of the apartments interior living space

sqft_lot - Square footage of the land space

floors - Number of floors

waterfront - A dummy variable for whether the apartment was overlooking the waterfront or not

view - An index from 0 to 4 of how good the view of the property was

condition - An index from 1 to 5 on the condition of the apartment,

grade - An index from 1 to 13, where 1-3 falls short of building construction and design, 7 has an average level of construction and design, and 11-13 have a high quality level of construction and design.

sqft_above - The square footage of the interior housing space that is above ground level

sqft_basement - The square footage of the interior housing space that is below ground level

yr_built - The year the house was initially built

yr_renovated - The year of the house’s last renovation

zipcode - What zipcode area the house is in

lat - Lattitude

long - Longitude

sqft_living15 - The square footage of interior housing living space for the nearest 15 neighbors

sqft_lot15 - The square footage of the land lots of the nearest 15 neighbors

## Preguntas del CEO

A partir de estos datos, hay que contestar las siguientes preguntas.

1.¿Cuántas casas hay disponibles para comprar?

2.¿Cuántos atributos tienen las casas?

3.¿Cuáles son los atributos de las casas?

4.¿Cuál es la casa más cara (casa con mayor valor de venta)?

5.¿Qué casa tiene más cuartos?

6.¿Cuál es la suma total de trimestres en el conjunto de datos?

7.¿Cuántas casas tienen 2 baños?

8.¿Cuál es el precio promedio de todas las casas en el conjunto de datos?

9.¿Cuál es el precio medio de las viviendas de 2 baños?

10.¿Cuál es el precio mínimo para viviendas de 3 dormitorios?

11.¿Cuántas casas tienen más de 300 metros cuadrados en la sala?

12.¿Cuántas casas tienen más de 2 plantas?

13.¿Cuántas casas tienen vista al mar?

14.De las casas con vistas al mar, ¿cuántas tienen 3 habitaciones?

15.De las casas con más de 300 metros cuadrados de salón, ¿cuántas tienen más de 2 baños?

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user lenovo\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user lenovo\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\user lenovo\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user lenovo\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

In [13]:
Data = pd.read_csv('../Data/kc_house_data.csv')

In [14]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [15]:
Data.shape

(21613, 21)

In [16]:
Data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [17]:
Data[['sqft_basement','zipcode']]

       sqft_basement  zipcode
0                  0    98178
1                400    98125
2                  0    98028
3                910    98136
4                  0    98074
...              ...      ...
21608              0    98103
21609              0    98146
21610              0    98144
21611              0    98027
21612              0    98144

[21613 rows x 2 columns]

In [18]:
Data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [19]:
(min(Data['sqft_living']),max(Data['sqft_living']))

(290, 13540)

## 1. ¿Cuántas casas hay disponibles para comprar?

In [20]:
print('Están disponibles {} casas'.format(Data['id'].nunique()))

Están disponibles 21436 casas

## 2. ¿Cuántos atributos tienen las casas?

In [21]:
print('Los inmuebles tienen {} atributos'.format(len(Data.columns)-2))

Los inmuebles tienen 19 atributos

## 3. ¿Cuáles son los atributos de las casas?

In [22]:
aux = data.columns.tolist()
aux.remove('id')
aux.remove('date')
print('Los atributos de las casas son: {}'.format(aux))

Los atributos de las casas son: ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

## 4. ¿Cuál es la casa más cara (casa con mayor valor de venta)?

In [23]:
Data[Data['price']==Data['price'].max()].T

                          7252
id                  6762700020
date           20141013T000000
price                7700000.0
bedrooms                     6
bathrooms                  8.0
sqft_living              12050
sqft_lot                 27600
floors                     2.5
waterfront                   0
view                         3
condition                    4
grade                       13
sqft_above                8570
sqft_basement             3480
yr_built                  1910
yr_renovated              1987
zipcode                  98102
lat                    47.6298
long                  -122.323
sqft_living15             3940
sqft_lot15                8800

## 5. ¿Qué casa tiene más cuartos?

In [24]:
Data[Data['bedrooms'] == Data['bedrooms'].max()].T

                         15870
id                  2402100895
date           20140625T000000
price                 640000.0
bedrooms                    33
bathrooms                 1.75
sqft_living               1620
sqft_lot                  6000
floors                     1.0
waterfront                   0
view                         0
condition                    5
grade                        7
sqft_above                1040
sqft_basement              580
yr_built                  1947
yr_renovated                 0
zipcode                  98103
lat                    47.6878
long                  -122.331
sqft_living15             1330
sqft_lot15                4700

## 6. ¿Cuál es la suma total de habitaciones en el conjunto de datos?

In [26]:
print('En total, hay {} habitaciones a la venta'.format(data['bedrooms'].sum()))

En total, hay 72854 habitaciones a la venta

## 7. ¿Cuántas casas tienen 2 baños?

In [27]:
print('Hay {} con únicamente dos baños'.format(data[data['bathrooms'] == 2].shape[0]))

Hay 1930 con únicamente dos baños

## 8. ¿Cuál es el precio promedio de todas las casas en el conjunto de datos?

In [28]:
print('El precio promedio de todas las casas del conjunto de datos es de {}'.format(data['price'].mean()))

El precio promedio de todas las casas del conjunto de datos es de 540088.1417665294

In [29]:
print('En total, se movieron {} dólares en el mercado inmobiliario de King Count entre 2014 y 2015'.format(data['price'].sum()))

En total, se movieron 11672925008.0 dólares en el mercado inmobiliario de King Count entre 2014 y 2015

## 9. ¿Cuál es el precio medio de las viviendas de 2 baños?

In [30]:
data[data['bathrooms'] ==2]['price'].mean()

457889.7186528497

In [31]:
print('El precio medio de las viviendas de dos baños es de {}'.format(round(data.loc[data['bathrooms'] ==2,'price'].mean(),2)))

El precio medio de las viviendas de dos baños es de 457889.72

## 10. ¿Cuál es el precio mínimo para viviendas de 3 dormitorios?

In [32]:
print('{} es el precio mínimo de una vivienda con tres habitaciones'.format(round(data.loc[data['bedrooms']==3, 'price'].min(),2)))

82000.0 es el precio mínimo de una vivienda con tres habitaciones

## 11. ¿Cuántas casas tienen más de 300 metros cuadrados en la sala?

In [33]:
print('Hay {} casa con más de 300 metros cuadrados en la sala'.format(data[data['sqft_living']>300].shape[0]))

Hay 21612 casa con más de 300 metros cuadrados en la sala

## 12. ¿Cuántas casas tienen más de 2 plantas?

In [34]:
resultado = data[data['floors']>2].shape[0]
print('Hay {} casas con más de dos pisos'.format(resultado))

Hay 782 casas con más de dos pisos

## 13. ¿Cuántas casas tienen vista al mar?

In [35]:
resultado = data[data['waterfront']== 1].shape[0]
print('Hay {} casas con vista al agua'.format(resultado))

Hay 163 casas con vista al agua

In [36]:
data['waterfront'] == 1

0        False
1        False
2        False
3        False
4        False
         ...
21608    False
21609    False
21610    False
21611    False
21612    False
Name: waterfront, Length: 21613, dtype: bool

## 14. De las casas con vistas al mar, ¿cuántas tienen 3 habitaciones?

In [37]:
T = True
F = False
# original
print('El valor de la sentencia es: {}'.format(F))
#  negación 
res1 = not F
print('El valor de la sentencia es: {}'.format(res1))
# conjuncion (y)
res2 = T & T 
print('El valor de la sentencia es: {}'.format(res2))
# disyunción (o)
res3 = F | F
print('El valor de la sentencia es: {}'.format(res3))

El valor de la sentencia es: False
El valor de la sentencia es: True
El valor de la sentencia es: True
El valor de la sentencia es: False

In [38]:
p = [True, True, False, False]
q = [True, False, True, False]

#create new df 
df = pd.DataFrame({'p':p,'q':q})
df

# # Crear columna de la negación de p
df['~p'] = ~ df['p']
df['~q'] = ~ df['q']
df['p y q'] = df['p'] & df['q']
df['p o q'] = df['p'] | df['q']
df['p -> q'] = df['~p'] | df['q']

df

       p      q     ~p     ~q  p y q  p o q  p -> q
0   True   True  False  False   True   True    True
1   True  False  False   True  False   True   False
2  False   True   True  False  False   True    True
3  False  False   True   True  False  False    True

In [39]:
resultado = data[(data['waterfront'] ==1) & (data['bedrooms'] ==3 )].shape[0]
print('Hay {} casas con vista a la mar y con tres habitaciones'.format(resultado))

Hay 64 casas con vista a la mar y con tres habitaciones

## 15. De las casas con más de 300 pies cuadrados de sala, ¿cuántas tienen más de 2 baños?

In [40]:
resultado = data[(data['sqft_living']>300) & (data['bathrooms']>2)].shape[0]
print('Hay {} casas con salas de más de 300 pies cuadradaos y más de dos baños'.format(resultado))

Hay 11242 casas con salas de más de 300 pies cuadradaos y más de dos baños

## Cuántas casas frente al agua con tres habitaciones y más de dos baños

In [41]:
restultado = data[(data['waterfront'] == 1)&(data['bedrooms'] ==3)&(data['bathrooms']>2)].shape[0]
print('Hay {} casa frente al agua con tres habitaciones y más de dos baños'.format(resultado))

Hay 11242 casa frente al agua con tres habitaciones y más de dos baños